<div id="video" style="height: 'auto'">
  {% comment %}
    <iframe
      src="https://www.youtube.com/embed/d6L88EoA34o?autoplay=1&mute=1&controls=0&modestbranding=1&rel=0&fs=0&disablekb=1&showinfo=0"
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; object-fit: fill;"
      title="YouTube video player"
      frameborder="0"
      allow="autoplay; encrypted-media"
      allowfullscreen
      referrerpolicy="strict-origin-when-cross-origin"
    ></iframe>
  {% endcomment %}
  <video
    class="custom-video"
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0; object-fit: fill;"
    autoplay
    muted
    loop
    playsinline
  >
    <source src="{{ 'AlgarveVideo.mp4' | asset_url }}" type="video/mp4">
  </video>
</div>
{% stylesheet %}
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Custom Image/Video",
  "tag": "section",
  "settings": [],
  "presets": [
    {
      "name": "Custom Media Block",
      "category": "Media"
    }
  ]
}
{% endschema %}
