<div class="polarized-announcement-bar">
  <span>
    {{ section.settings.message }}
  </span>
</div>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap');

  .polarized-announcement-bar {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    overflow: hidden;
    z-index: 1000;
  }
</style>

{% schema %}
{
  "name": "Polarized Announcement",
  "settings": [
    {
      "type": "text",
      "id": "message",
      "label": "Message",
      "default": "Look Sharp. Move Bold. Discover the Polarized Collection."
    }
  ],
  "presets": [
    {
      "name": "Polarized Announcement"
    }
  ]
}
{% endschema %}
