<header>
  <h2 class="header__title">
    <a href="{{ routes.root_url }}">
      <img
        src="{{ section.settings.image | image_url }}"
        alt="{{ shop.name }}"
        width="200"
        loading="lazy"
        height="200"
      >
    </a>
  </h2>

  <div class="header__menu">
    {% for link in section.settings.menu.links %}
      {{ link.title | link_to: link.url }}
    {% endfor %}
  </div>
</header>

{% stylesheet %}
  header {
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header a {
    position: relative;
    text-decoration: none;
    color: var(--color-foreground);
  }
  header a sup {
    position: absolute;
    left: 100%;
    overflow: hidden;
    max-width: var(--page-margin);
  }
  header svg {
    width: 2rem;
  }
  header .header__menu,
  header .header__icons {
    display: flex;
    gap: 1rem;
  }

  .logo-image {
    height: 3rem;
    width: auto;
    display: block;
    object-fit: contain;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:labels.logo_image"
    }
  ]
}
{% endschema %}
